.darky{
    margin: 0px;
}
.malytheo{
    margin-top: 80px;
}
.přání{
    text-align: center;
}
.přáníčko,
.přáníčko_1,
.oblek {
    font-family: 'Permanent Marker', cursive;
    font-size: 40px;
    margin-top: 50px;
}
.šipka{
    font-family: 'Permanent Marker', cursive;
    font-size: 20px;
}
ul.běh,
ul.line {
    list-style: none;
    padding: 0;
}
ul.line {
    display: flex;
    flex-direction: row;
}
li {
    font-size: 60px;
    padding: 5px;
    margin-right: 57%;
}
ul.běh:hover{
    transform: translateX(1400px);
    transition-duration: 7s;
    transition-timing-function: cubic-bezier(.03,.99,.89,.94);
    background-attachment: initial;
}

.salva{
    position: relative;
}
.raketka{
    display: flex;
    position: absolute;
}
.salva:hover .raketka{
    transform: rotate(45deg);
    transition-duration: 0.2s;
}
.second .šipka{
    display: inline-flex;
}
.šipečka{
    transform: rotate(260deg);
}
.mičuda{
    position: relative;
}
.šipka{
    position: absolute;
    left: 100px;
}
.mičuda {
    display: inline-flex;
    position: relative;
    width: 400px; 
    height: 400px;
}
.one {
    border-radius: 50%;
}
.two {
    transition-delay: 1s;
    transition-timing-function: linear;
}
.mičuda:hover{ 
    transform: rotate(70deg);
    transition-duration: 2s;
}
.mičuda > img {
    position: absolute;
    width: 100%; height: 100%; 
}
.mičuda:hover > .two {
    opacity: 1;
}
.mičuda:hover > .one {
    opacity: 0;
    transition-delay: 1s;
}
.mičuda > .one {
    opacity: 1;
    transition: opacity 2s;
}


.swagger{
    position: relative;
}
.napis{
    position: absolute;
    top: 20px;
    display: flex;
    margin-right: 100%;
    transition-property: transform;
}
.bryle{
    position: absolute;
    bottom: 210px;
    display: flex;
    margin-left: 90%;
}
.motylek{
    position: absolute;
    bottom: 130px;
    display: flex;
    margin-left: 90%;
}
.swagger:hover .napis{
    transform: translate(270%);
    transition-duration: 1.5s;
    transition-timing-function: ease-out;
}
.swagger:hover .bryle{
    transform: translate(-550%);
    transition-duration: 1.5s;
    transition-timing-function: ease-out;
}
.swagger:hover .motylek{
    transform: translate(-670%);
    transition-duration: 1.5s;
    transition-timing-function: ease-out;
}
